apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-hashing-billing
  namespace: kube-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloud-hashing-billing
  template:
    metadata:
      labels:
        app: cloud-hashing-billing
    spec:
      containers:
      - name: cloud-hashing-billing
        image: entropypool/cloud-hashing-billing:latest
        imagePullPolicy: Always
        env:
        - name: ENV_ENVIRONMENT_TARGET
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.target
        - name: ENV_CONSUL_HOST
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.consul_host
        - name: ENV_CONSUL_PORT
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.consul_port
        - name: ENV_CLUSTER_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace

---
apiVersion: v1
kind: Service
metadata:
  name: cloud-hashing-billing
  namespace: kube-system
spec:
  ports:
  - name: http
    port: 50030
    targetPort: 50030
  - name: grpc
    port: 50031
    targetPort: 50031
  - name: healthz
    port: 50032
    targetPort: 50032
  selector:
    app: cloud-hashing-billing
